<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mydoctorpadi</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div>
     
         <div class="text-blue-600 text-1xl flex m-3">
             <img src=".\back-arrow.svg" alt="back" height="10px" width="30px">
             <p class="mt-1">Sign up</p> 
         </div>

         <div class="mt-5 p-10"> 
             <img src=".\undraw_joyride_re_968t.svg" alt="welcome">
             <p class="text-center text-blue-400">Almost There!</p>
         </div>
     <form action="" method="post" class="p-5 text-gray-500">
         <label for="email" class="mb-5">Email</label><br>
         <input type="text" name="email" class="w-72 mb-5 border-b-2 border-b-gray-400" required>
          <br>
         <label for="number" class="mb-5" >Phone Number</label><br>
         <input type="text" name="number" class="w-72 mb-5 border-b-2 border-b-gray-400" required>
          <br>
         <label for="pword" class="mb-5">Password</label><br>
         <input type="password" name="pword" class="w-72 mb-5 border-b-2 border-b-gray-400" required>
          <br>
         <label for="pword" class="mb-5">Confirm Password</label><br>
         <input type="password" name="pword" class="w-72 mb-5 border-b-2 border-b-gray-400" required>
          <br>
         <button class=" text-white text-1xl mx-20 px-12 py-2 bg-blue-600 rounded-xl">Next</button>
     </form>

      <p class="text-center text-gray-500">Already have an account?  <a href="#">Login</a></p>
     
    </div>
</body>
</html>